<h1>Welcome to Mosaic Designs by Wenia Lee</h1>
<h2>Mosaic Designs by Wenia Lee is an online marketplace for buying handmade goods created by Wenia Lee, a local artist residing in San Francisco, California.</h2>

